# --------------------------------
# Misc
__pycache__/
*.py[cod]
*.pyo
.vscode/
.DS_Store
Thumbs.db
.venv/
venv/

# Dir
.git/

# Individual Files
wordpress_posts.csv
temp.txt
test.py

.env
*.pid
*.seed
.python-version
